<div class="comment">
      <div class="comment-box">
      <%= form_with model: [@comments, @messages],url:message_comments_path(@message),local: true do |f| %>
        <%= f.text_area :text, placeholder: "コメントする", class: "comment-text" %>
        <%= hidden_field_tag :message_id,@message.id %>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <%= f.submit "コメントする"%>
     <% end %>
  </div>