.qs1, .qs2, .qs3, .qs4 {
    font-size:16px;
    padding:13px;
    margin-left:20px;
    border: 1px solid rgb(22, 81, 219);
    color: rgb(22, 81, 219);
}

.qs1:hover, .qs2:hover, .qs3:hover, .qs4:hover {
    background: #2f73fc;
    color:white;
    text-decoration:none;
  }

  .qs1 {
    letter-spacing:8px;
    padding-left:18px;
  }

  .qs3 {
    letter-spacing:12px;
    padding-left:25px;
  }

  .qs4 {
    letter-spacing:7px;
    padding-left:20px;
  }

.pop-comments {
    padding:30px;
    margin-top:30px;
}

.pop-nums {
    font-size:18px;
    float:left;
    font-weight:normal;
}


.comment-text-content {
    display:flex;
}

.comment-texts2 {
    font-size: 1.8vh;
    margin-top: 3.5px;
    color: #558ef8;
    padding: 25px 10px;
    resize: none;
    display:flex;
    margin-bottom:20px;
    margin-left:67px;
}

.comment-texts2 a{
    color:rgb(0, 98, 255);
    letter-spacing:2px;
}

.comment-texts-num {
    font-size: 1.8vh;
    margin-top: 3.5px;
    color: black;
    padding: 25px 10px;
    resize: none;
}

.comment-texts-message {
    font-size: 1.8vh;
    margin-top: 3.5px;
    color: black;
    padding: 25px 10px;
    resize: none;
    letter-spacing:2px;
    margin-left:50px;
}

.comment-texts-room {
    font-size: 1.8vh;
    margin-top: 3.5px;
    color: black;
    padding: 25px 10px;
    resize: none;
    letter-spacing:2px;
}

.comment-texts-room span {
    font-weight:bold;
    font-size:15px;
    color:red;
}

.move-to-top { 
    padding:15px 30px;
    margin:0 47%;
    background-color:rgb(220, 220, 220);
    color:white;
}

.comment-lists {

}