.comment-box {
    resize: none;
    width: 100%;
    height: 40vh;
    padding: 10px;
    background-color: white;
    margin: 5vh 0;
    text-align: center;
  }

  .comment-text {
    width: 100%;
    height: 22vh;
    padding: 10px;
    border: solid 2px #dedede;
    resize: none;
  }

  .comment-warn {
    padding: 10px;
    font-size: 14px;
    margin: 10px 0px;
    text-align: left;
  }

  .comment-btn {
    line-height: 48px;
    background-color: #38aef0;
    border: 1px solid #ffffff;
    color: #fff;
    width: 50%;
    min-width: 150px;
    font-size: 18px;
    border-radius: 100px;
    margin-bottom: 2vh;
  }

.comment-box2 {
    resize: none;
    width: 100%;
    height: 57vh;
    padding: 10px;
    background-color: white;
    margin: 5vh 0;
    text-align: center;
  }

  .comment-list {
    margin: 2vh 0;
  }

  .comment-content {
    display: flex;
    align-items:center;
    padding: 2vh 0;
    width: 90%;
    border: solid 1px #0000001a;
    margin-left: 7.5vh;
    background-color:  #ffffff;
    margin-bottom: 3px; 
    border-radius:  10px; 
  }

  .comment-nickname {
    margin: 0 4vh;
    font-size: 1.8vh;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  .comment-texts {
    font-size:1.8vh;
    margin-top: 3.5px;
    color:rgba(0, 0, 0, 0.788);
  }

  .comment-time {
    font-size: 1px;
    margin-left: 15px;
    margin-top: 0px;
    color:#38aef0;
    background-color: rgba(255, 255, 255, 0.479);
    padding: 5px;
    display:flex;
    flex-direction:column;
  }

  .delete-button {
    color: rgba(0, 0, 0, 0.658);
    font-size: 2vh;
    margin-left: 2vh;
  }

  .comment-text-link {
    text-decoration: none;
  }

  .a {
    font-size:1px;
    padding: 5px;
    margin-left:20px;
    border:1px rgba(0, 0, 0, 0.205) solid;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.349);
    color:rgba(0, 0, 0, 0.788);
  }

  .back-to-top2 a {
    text-decoration: none;
    display:flex;
    border:1px solid rgba(0, 0, 0, 0.288);
  background-color:rgba(220, 220, 220, 0.315);
  color:rgba(0, 0, 0, 0.685);
  font-size:15px;
  padding: 10px 10px 10px 20px;
  width:65px;
  float:right;
  }