.left-content {
    width:200px;
    background:red;
}

.writing-content {
    display:flex;
}

.main-content {
    display:flex;
}

.diary-title {
    width:100%;
    height:100px;
    text-align:center;
    background:rgba(255, 236, 110, 0.648);
    font-size:50px;
    letter-spacing:30px;
    color:rgba(0, 72, 131, 0.699);
    padding-top:10px;
    font-family:'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
}

.diary-title2 {
  font-size:15px;
  margin-bottom:10px;

}

.chat-header2 {
    display: flex;
    justify-content: space-between;
  }

  .small-no {
      font-size:38px;
  }

  .message-content2 {
    color: #434a54c4;
    font-size: 16px;
    letter-spacing:6px;
    line-height:40px;
    margin:0 20px;
  }
  
  .message-content3 {
    color: #434a54c4;
    font-size: 16px;
    letter-spacing:6px;
    margin:0 20px;
    
  }

  .messages2 {
    overflow: scroll;
  }

  .form-message2 {
    border: none;
    height: 243px;
    width: 100%;
    padding-left: 10px;
    margin-top:5px;
  }

  .message2 {
    margin: 0px 0 0 0;
    width:100%;
    height:250px;
    border-bottom:3px solid rgba(151, 148, 148, 0.171);
  }
  .message3 {
    margin: 0px 0 0 0;
    width:100%;
    height:245px;
    border-top:3px solid rgba(151, 148, 148, 0.171);
  }

  .message3 span {
    width:70px;
    padding:5px 2px;
    font-size:13px;
    color:rgba(248, 120, 120, 0.637);
    margin-left:17px;
  }


  .form2 {
    background-color: #DDDDDD;
    padding: 20px 25px;
    display: flex;
    
  }

  .form3 {
    background-color: #DDDDDD;
    padding: 16px 40px;
    display: flex;
    height:199px;
  }

  .messages1 {
    background-color: #FAFAFA;
    height: calc(100vh - 400px - 90px);
    padding: 30px 40px 0;
    overflow: scroll;
  }

  .form-submit2 {
    background-color: #38aef0;
    border: none;
    color: white;
    font-size: 16px;
    height: 350px;
    margin-left: 15px;
    padding: 0 20px;
    cursor:pointer;
  }

  .form-submit3 {
    background-color: #38aef0;
    border: none;
    color: white;
    font-size: 16px;
    margin-left: 15px;
    padding: 0 20px;
    cursor:pointer;
  }

  .form-input ::placeholder {
    font-size:18px;
  }

  .diary-study-time {
    color:rgb(0, 0, 0);
    background: rgba(255, 230, 104, 0.699);
    padding:5px 10px;
    margin-right:45px;
    border-radius:20px;
  }


  .diary-study-time a{
    color:black;
  }

  .back-from-diary {
    padding-top:5px;
    padding-left:8px;
  }

  .back-from-diary a {
    color:white;
  }

  .back-from-reply {
    margin-right:20px;
  }
  .back-from-reply a{
    color:rgb(255, 255, 255);
  }

  .form-message3 {
    border: none;
    /* height: 150px; */
    width: 100%;
    padding-left: 10px;
  }

  .form-message4 {
    border: none;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    padding-top:5px;
    border:1px solid rgba(0, 0, 0, 0.155);
    background:rgb(255, 255, 255);
  }
  
  .study-hour, .study-content {
    width:50%; 

  }

  .study-hour select, .study-content select {
    border: 1px solid rgba(0, 0, 0, 0.155);
    padding-left:5px;
  }

  .study-hour select  {
    font-size:18px;
    color:rgb(113, 113, 113);
  }

  .study-content select  {
    font-size:18px;
    color:rgb(113, 113, 113);
  }

  .studies {
    display:flex;
  }

  .room2 {
    padding: 20px 0 30px;
  }
  
  .rule-check {
    padding:20px 0 30px 0;
    font-size:25px;
    display:flex;
    justify-content:center;
    letter-spacing:8px;
  }

  .messages1 li {
    font-size:22px;
    letter-spacing:8px;
    display:flex;
    justify-content:center;
    padding:10px 0 30px 0;
  }

  .messages1 span {
    color:red;
    font-weight:bold;
  }

  .diary-user {
    font-size:10px;
  }

  .fa-trash {
    font-size:12px;
    padding-bottom:7px;
  }

  .fa-trash:hover {
    color:rgba(253, 79, 79, 0.747);
  }

  .error-message {
    padding-right:25px;
    margin-right:5px;
    color:red;
    width:120px;
    margin-bottom:20px;
  }

  .error-message2 {
    padding-right:25px;
    margin-right:5px;
    color:red;
    margin-bottom:20px;
    font-size:18px;
  }

  .contents {
    display:flex;
    flex-wrap :wrap;
    margin-bottom:20px;
  }

  .content-title {
   margin:30px 290px;
   margin-top:50px;
   padding:10px;
   font-weight:bold;
   border-radius:50px;
  }

  .total {
    font-size:15px;
    margin-left:200px;
    padding:10px 0 10px 0;
  }

  .study-wrapper {
    display:flex;
    padding:20px 25px;
   
    width:200px;
    border-radius:5px;
  }

  .study-hour-wrapper {
  }

  .study-hour {
    margin-left:10px;
    width:50%;
  }

  .study-hour b {
    font-size:20px;
  }

  .mins {
    font-size:12px;
    margin-left:2px;
  }

  .studies {
    font-size:15px;
    padding-top:4px;
  }

  .content-bar-chart {
    display:flex;
    justify-content:center;
    margin:20px 0 80px 20px;
  }

  .bar-chart {
    margin-left:100px;
  }

  .content {
    margin-left:25px;
    margin-bottom:10px;
  }

  .study-data {
    margin-bottom:50px;
    width:100%;
    margin:0 0%;
  }

  .page-title {
    width:100%;
    display:flex;
    justify-content:center;
    padding:20px 0;
    font-size:20px;
    letter-spacing:7px;
  }

  .vocabulary {
  }

  .grammar {
    letter-spacing:2px;
  }

  .speaking {
    letter-spacing:1px;
  }
  
  .writing {
    letter-spacing:4px;
  }

  .listening {
    letter-spacing:1px;
  }
  
  .reading {
    letter-spacing:2.5px;
    
  }

  .voca {
    background:rgb(84, 129, 251);
  }

  .gra {
    background:rgb(251, 226, 104);
  }

  .spe {
    background:#8074d1;
  }

  .wri {
    background:#a94141;
  }

  .lis {
    background:#FFBBFF;
  }

  .rea {
    background:#099898;
  }

  .total-hours {
    background:rgb(255, 253, 253);
    border:rgb(240, 239, 239) 1px solid;
  }

.studies span{
  letter-spacing:2px;
}