.account-page .account-page__inner {
  width: 980px;
  margin: 60px auto;
  padding: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.account-page .account-page__inner .account-page__inner--left, .account-page .account-page__inner .account-page__inner--right {
  float: left;
  width: 50%;
}
.account-page .account-page__inner:after {
  clear: both;
  content: "";
  display: block;
}
.account-page .account-page__header h2 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 200;
}
.account-page .account-page__header h2:after {
  content: "";
  display: block;
  width: 60px;
  margin-top: 5px;
  border-bottom: 1px solid #38aef0;
}
.account-page .account-page__header h5 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .account-page__header .btn {
  margin-top: 20px;
  color: #fff;
  background-color: #ccc;
  font-size: 14px;
}
.account-page .field {
  margin-bottom: 10px;
}
.account-page .field .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .field .field-label i {
  font-size: 11px;
}
.account-page .field .field-input input {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
}
.account-page .btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}
.account-page input[type=submit] {
  float: left;
  margin-top: 20px;
  color: #fff;
  background-color: #38aef0;
}
.account-page .field-label .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.account-page .field-input .field_with_errors {
  position: relative;
}
.account-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #d65f4c;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#error_explanation h2 {
  margin-bottom: 10px;
  color: #d65f4c;
  font-size: 14px;
}
#error_explanation ul {
  margin: 0;
  padding-left: 17px;
  list-style: square;
}
#error_explanation li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.category {
  display:flex;
}

select {
  width: 98%;
  height: 50px;
}

.select-box {
  margin-left:50px;
}

.header-name {
  color:white;
}
.back-to-top3 a{
  text-decoration: none;
  display:flex;
  float:right;
  background-color: #ccc;
  color: #fff;
  font-size:15px;
  border-radius:2px;
  width:175px;
  height:50px;
  margin-top:20px;
  align-items:center;
  justify-content:center;
}

.user-level {
  font-size:15px;
  color:white;
}

.lists {
  width:200px;

}

.list {
  width:300px;

}

.hidden {
  display:none;
}

.header-name2{
  color:white;
  font-size:14px;
  line-height:25px;
}

.wrapper1 {
  margin-right:100px;
  margin-left:100px;
}

.wrapper2 {
  margin-right:100px;
}

.grade {
  display:flex;
  justify-content:center;
  width:300px;
  font-weight:bold;
  color:rgba(65, 65, 65, 0.747);
  background:rgba(207, 207, 207, 0.158);
  letter-spacing:10px;
  height:30px;
  padding-top:2px;
}

.lists, .lists2, .lists3 {
  margin:15px 0 15px;
  margin-bottom:5px;
}

.wid{
  width:300px;
  padding-bottom:2px;
  letter-spacing:8px;
  margin-left:10px;
}

.class-number, .class-number2, .class-number3 {
  width:300px;
  letter-spacing:10px;
  font-weight:bold;
  color:rgba(65, 65, 65, 0.747);
  padding:7px 0;
}

.class-number span {
  display:flex;
  justify-content:center;
}

.class-number2 span {
  display:flex;
  justify-content:center;
}

.class-number3 span {
  display:flex;
  justify-content:center;
}

.class-number {
  background:rgba(255, 93, 93, 0.185);
}

.class-number2 {
  background:rgba(255, 229, 97, 0.299);
}

.class-number3 {
  background:rgba(94, 166, 248, 0.299);
}

.main-wrapper {
  display:flex;
  margin:50px 0 0 70px;
}

.user-name {
  color:rgba(57, 116, 255, 0.97);
  letter-spacing:8px;
}

.login-day {
  color:rgb(255, 81, 81);
}