<% @exams_first_mid.each do |exam_first_mid| %>
<%if exam_first_mid.user == current_user%>

<div class="exam-content2">

    <%if exam_first_mid.subject == 1 %>
    <p>国語</p>
    <%elsif exam_first_mid.subject == 2%>
    <p>数学</p>
    <%elsif exam_first_mid.subject == 3%>
    <p>理科</p>
    <%elsif exam_first_mid.subject == 4%>
    <p>社会</p>
    <%elsif exam_first_mid.subject == 5%>
    <p>英語</p>
    <%end%>
    <div class="exam-considering"><%=exam_first_mid.considering%></div>
</div>
<%end%>
<%end%>